<% @death_cross_stocks.each do |stock| %>
    <tr>
   <% equity = Stock.find(stock.stock_id) %>
   <% require "yahoo_finance" %>
   <% data = YahooFinance.quotes([equity.symbol], [:open, :close, :change_in_percent, :last_trade_date, :trade_date]) %>
   <td><%= equity.name %></td>
   <td><a href="<%= stock_symbol_path(equity.symbol) %>"><%= equity.symbol %></a></td>
   <td><%= data[0].last_trade_date %></td>
   <td><%= data[0].close %></td>
   <td class="text-danger"> <i class="fa fa-level-down"></i><%= data[0].change_in_percent %> </td>
   </tr>
<% end %>