<% upcoming_dates = [] %>
<div class="wrapper wrapper-content">
<div class="container">
<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">Tech</span>
                <h5><%= @company %></h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="no-margins"><%= @stock %></h1>
                    </div>
                    <div class="col-md-6">
                        <h1 class="no-margins text-navy">$<%=@current_price[0][1]%></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="ibox-title">
            <span class="label label-info pull-right">Daily</span>
            <h5>References</h5>
        </div>
        <div class="ibox-content inspinia-timeline">
            <div class="timeline-item">
                <div class="row">
                    <div class="col-xs-3 date">
                        <i class="fa fa-briefcase"></i>
                        NASDAQ
                        <br />
                    </div>
                    <div class="col-xs-7 col-xs-offset-2 content no-top-border">
                        <p class="m-b-xs"><strong>Nasdaq</strong></p>

                        <p class="text-navy"><a href="http://www.nasdaq.com/symbol/<%=@stock%>" target="_blank">Click here</a></p>

                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="row">
                    <div class="col-xs-3 date">
                        <i class="fa fa-file-text"></i>
                        Yahoo
                        <br />
                        
                    </div>
                    <div class="col-xs-7 col-xs-offset-2 content">
                        <p class="m-b-xs"><strong>Yahoo Finance</strong></p>
                        <p class="text-navy"><a href="http://finance.yahoo.com/q?s=<%=@stock%>" target="_blank">Click here</a></p>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="row">
                    <div class="col-xs-3 date">
                        <i class="fa fa-coffee"></i>
                        Charts
                        <br />
                    </div>
                    <div class="col-xs-7 col-xs-offset-2 content">
                        <p class="m-b-xs"><strong>StockCharts</strong></p>
                        <p class="text-navy">
                            <a href="http://stockcharts.com/h-sc/ui?s=<%=@stock%>" target="_blank"> Click here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>5/10 SMA History</h5>
                <div class="ibox-tools">
                    <span class="label label-primary">Updated 12.2015</span>
                </div>
            </div>
            <div class="ibox-content no-padding">
                <%= render "five_ten_table" %>
            </div>

        </div>
    </div>
</div>

<div class="row">

<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5> Historical Earning Reports Performance</h5>
    <div class="ibox-tools">
        <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-wrench"></i>
        </a>
    </div>
</div>
<% @all_reports.each_with_index do |earning, idx| %>
<% if earning.price_before_er %>
<div class="ibox-content">
    <div class="row">
        <h3 class="ibox-content">
            <%= earning.date.strftime("%b %d, %Y") %>
        </h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date </th>
                <th>Open </th>
                <th>High </th>
                <th>Low </th>
                <th>Close </th>
                <th>Volume </th>
                <th>Date Changes</th>
                <th><i class="fa fa-play fa-rotate-270"></i> Up/Down</th>
                <th>Price Trend</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><%= earning.price_before_er.price_date if earning.price_before_er %></td>
              <td><%= earning.price_before_er.quote[1].to_f.round(2) if earning.price_before_er %></td>
              <td><%= earning.price_before_er.quote[2].to_f.round(2) if earning.price_before_er %></td>
              <td><%= earning.price_before_er.quote[3].to_f.round(2) if earning.price_before_er %></td>
              <td><%= earning.price_before_er.quote[4].to_f.round(2) if earning.price_before_er %></td>
              <td><%= earning.price_before_er.quote[5] if earning.price_before_er %></td>
              <td class="text-primary"><%= ((((earning.price_before_er.quote[4].to_f - earning.price_before_er.quote[1].to_f) / earning.price_before_er.quote[1].to_f)) * 100).round(2) if earning.price_before_er %>%</td>
            </tr>
            <tr>
                <td><%= earning.price_on_er.price_date if earning.price_on_er %></td>
                <td><%= earning.price_on_er.quote[1].to_f.round(2) if earning.price_on_er %></td>
                <td><%= earning.price_on_er.quote[2].to_f.round(2) if earning.price_on_er %></td>
                <td><%= earning.price_on_er.quote[3].to_f.round(2) if earning.price_on_er %></td>
                <td><%= earning.price_on_er.quote[4].to_f.round(2) if earning.price_on_er %></td>
                <td><%= earning.price_on_er.quote[5] if earning.price_on_er %></td>
                <td class="text-primary"><%= ((((earning.price_on_er.quote[4].to_f - earning.price_on_er.quote[1].to_f) / earning.price_on_er.quote[1].to_f)) * 100).round(2) if earning.price_on_er %>%</td>
            </tr>
            <tr>
                <td><%= earning.price_after_er.price_date if earning.price_after_er %></td>
                <td><%= earning.price_after_er.quote[1].to_f.round(2) if earning.price_after_er %></td>
                <td><%= earning.price_after_er.quote[2].to_f.round(2) if earning.price_after_er %></td>
                <td><%= earning.price_after_er.quote[3].to_f.round(2) if earning.price_after_er %></td>
                <td><%= earning.price_after_er.quote[4].to_f.round(2) if earning.price_after_er %></td>
                <td><%= earning.price_after_er.quote[5] if earning.price_after_er %></td>
                <td class="text-primary"><%= ((((earning.price_after_er.quote[4].to_f - earning.price_after_er.quote[1].to_f) / earning.price_after_er.quote[1].to_f)) * 100).round(2) if earning.price_after_er %>%</td>
            </tr>
            <tr class="primary">
                <th>Percentage Change After Earning Report Released</th>
                <% before_market = (((earning.price_on_er.quote[1].to_f - earning.price_before_er.quote[4].to_f) / earning.price_before_er.quote[4].to_f)*100).round(2) %> 
                <% after_market = (((earning.price_after_er.quote[1].to_f - earning.price_on_er.quote[4].to_f ) / earning.price_on_er.quote[4].to_f)*100).round(2) %> 
                <td class="danger">
                <% if before_market.abs > after_market.abs %>
                <%= before_market %>%
                <% else %>
                <%= after_market %>%
                <% end %>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
        <% elsif earning.date >= Time.zone.today %>
        <% upcoming_dates.push(earning.date.strftime("%b %d, %Y"))%>
        <%end%>
<% end %>
</div>
</div>

</div>

</div>

</div>
